wine

In [25]:
import pandas as pd

In [26]:
red_wine = pd.read_csv('data/winequality-red.csv',sep=';')
white_wine = pd.read_csv('data/winequality-white.csv', sep=';')
red_wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [27]:
red_wine = red_wine[['alcohol', 'residual sugar','pH']]
red_wine['class'] = 0
white_wine = white_wine[['alcohol', 'residual sugar','pH']]
white_wine['class'] = 1

In [28]:
red_wine.head()

   alcohol  residual sugar    pH  class
0      9.4             1.9  3.51      0
1      9.8             2.6  3.20      0
2      9.8             2.3  3.26      0
3      9.8             1.9  3.16      0
4      9.4             1.9  3.51      0

In [29]:
red_wine.rename(columns={'alcohol', 'sugar','pH', 'class'},inplace=True)
white_wine.rename(columns={'alcohol', 'sugar','pH', 'class'},inplace=True)

TypeError: 'set' object is not callable

In [30]:
wine = pd.concat

In [ ]:
dksdlwpfkntasdlkrkgsteti rmfkdmad[pepxmtmxkztesttarget trrintaeast split target ,